<mxfile host="app.diagrams.net" modified="2021-04-14T18:52:37.634Z" agent="5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36" etag="iAdyIcMU6-BQi4sUZl-I" version="14.6.0" type="github">
  <diagram id="N8ujg134AY5-pSwGKWIb" name="Page-1">
    <mxGraphModel dx="2310" dy="1018" grid="1" gridSize="10" guides="1" tooltips="1" connect="1" arrows="1" fold="1" page="1" pageScale="1" pageWidth="850" pageHeight="1100" math="0" shadow="0">
      <root>
        <mxCell id="0" />
        <mxCell id="1" parent="0" />
        <mxCell id="v06ttbZFg-mQVMNtXIl2-1" value="Manager" style="rounded=1;whiteSpace=wrap;html=1;shadow=1;labelPosition=center;verticalLabelPosition=top;align=center;verticalAlign=bottom;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-520" y="180" width="190" height="400" as="geometry" />
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-20" style="rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=1;entryY=0.3;entryDx=0;entryDy=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;edgeStyle=orthogonalEdgeStyle;labelBorderColor=none;" parent="1" source="v06ttbZFg-mQVMNtXIl2-2" target="v06ttbZFg-mQVMNtXIl2-18" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-18" value="Worker Status Update" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;" parent="v06ttbZFg-mQVMNtXIl2-20" vertex="1" connectable="0">
          <mxGeometry x="0.3026" y="-2" relative="1" as="geometry">
            <mxPoint as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-51" value="4" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=#000000;fontColor=#FFFFFF;labelBackgroundColor=#000000;" parent="v06ttbZFg-mQVMNtXIl2-20" vertex="1" connectable="0">
          <mxGeometry x="-0.1084" relative="1" as="geometry">
            <mxPoint x="-8" y="-4" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-23" style="edgeStyle=none;rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=1;entryY=0.5;entryDx=0;entryDy=0;startArrow=none;startFill=0;endArrow=classic;endFill=1;fillColor=#dae8fc;strokeColor=#6c8ebf;labelBorderColor=none;strokeWidth=1;" parent="1" source="v06ttbZFg-mQVMNtXIl2-2" target="uHiuThIKs9ukPwsspp7C-5" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-29" value="process records 1-100" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;" parent="uHiuThIKs9ukPwsspp7C-23" vertex="1" connectable="0">
          <mxGeometry x="-0.1066" y="-4" relative="1" as="geometry">
            <mxPoint x="80.57" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-2" value="Worker" style="rounded=1;whiteSpace=wrap;html=1;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="330" y="190" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-22" style="rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=1;entryY=0.7;entryDx=0;entryDy=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;edgeStyle=orthogonalEdgeStyle;labelBorderColor=none;" parent="1" source="v06ttbZFg-mQVMNtXIl2-3" target="v06ttbZFg-mQVMNtXIl2-18" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-46" value="Worker Status Update" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;" parent="v06ttbZFg-mQVMNtXIl2-22" vertex="1" connectable="0">
          <mxGeometry x="0.0114" relative="1" as="geometry">
            <mxPoint as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-53" value="4" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=#000000;fontColor=#FFFFFF;labelBackgroundColor=#000000;" parent="v06ttbZFg-mQVMNtXIl2-22" vertex="1" connectable="0">
          <mxGeometry x="-0.2533" y="-1" relative="1" as="geometry">
            <mxPoint x="-15" y="5" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-24" style="edgeStyle=none;rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=1;entryY=0.5;entryDx=0;entryDy=0;startArrow=none;startFill=0;endArrow=classic;endFill=1;exitX=0;exitY=0.5;exitDx=0;exitDy=0;fillColor=#d5e8d4;strokeColor=#82b366;labelBorderColor=none;" parent="1" source="v06ttbZFg-mQVMNtXIl2-3" target="uHiuThIKs9ukPwsspp7C-5" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-30" value="process records 101-200" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;rotation=21;" parent="uHiuThIKs9ukPwsspp7C-24" vertex="1" connectable="0">
          <mxGeometry x="-0.0916" y="-1" relative="1" as="geometry">
            <mxPoint x="73" y="25" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-3" value="Worker" style="rounded=1;whiteSpace=wrap;html=1;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="330" y="300" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-23" style="rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=1;entryY=0.5;entryDx=0;entryDy=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;elbow=vertical;edgeStyle=orthogonalEdgeStyle;labelBorderColor=none;" parent="1" source="v06ttbZFg-mQVMNtXIl2-4" target="v06ttbZFg-mQVMNtXIl2-18" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-45" value="Worker Status Update" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;" parent="v06ttbZFg-mQVMNtXIl2-23" vertex="1" connectable="0">
          <mxGeometry x="0.6777" relative="1" as="geometry">
            <mxPoint as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-52" value="4" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=#000000;fontColor=#FFFFFF;labelBackgroundColor=#000000;" parent="v06ttbZFg-mQVMNtXIl2-23" vertex="1" connectable="0">
          <mxGeometry x="-0.5618" relative="1" as="geometry">
            <mxPoint x="-30" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-25" style="edgeStyle=none;rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=1;entryY=0.5;entryDx=0;entryDy=0;startArrow=none;startFill=0;endArrow=classic;endFill=1;exitX=0;exitY=0.5;exitDx=0;exitDy=0;fillColor=#ffe6cc;strokeColor=#d79b00;labelBorderColor=none;" parent="1" source="v06ttbZFg-mQVMNtXIl2-4" target="uHiuThIKs9ukPwsspp7C-5" edge="1">
          <mxGeometry relative="1" as="geometry">
            <mxPoint x="310" y="520" as="sourcePoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-31" value="process records 201-300" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;rotation=34;" parent="uHiuThIKs9ukPwsspp7C-25" vertex="1" connectable="0">
          <mxGeometry x="0.0724" y="2" relative="1" as="geometry">
            <mxPoint x="109.84" y="69" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-4" value="Worker" style="rounded=1;whiteSpace=wrap;html=1;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="330" y="400" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-8" style="edgeStyle=orthogonalEdgeStyle;rounded=0;orthogonalLoop=1;jettySize=auto;html=1;labelBorderColor=none;" parent="1" source="v06ttbZFg-mQVMNtXIl2-5" target="v06ttbZFg-mQVMNtXIl2-6" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-5" value="Step" style="rounded=1;whiteSpace=wrap;html=1;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-480" y="200" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-9" style="edgeStyle=orthogonalEdgeStyle;rounded=0;orthogonalLoop=1;jettySize=auto;html=1;labelBorderColor=none;" parent="1" source="v06ttbZFg-mQVMNtXIl2-6" target="v06ttbZFg-mQVMNtXIl2-7" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-6" style="edgeStyle=orthogonalEdgeStyle;rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=0;entryY=0.5;entryDx=0;entryDy=0;labelBorderColor=none;" parent="1" source="v06ttbZFg-mQVMNtXIl2-6" target="uHiuThIKs9ukPwsspp7C-5" edge="1">
          <mxGeometry relative="1" as="geometry">
            <Array as="points">
              <mxPoint x="-260" y="330" />
              <mxPoint x="-260" y="220" />
            </Array>
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-7" value="Read Records Sequence&lt;br&gt;Min=1 &amp;amp; Max=300" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;" parent="uHiuThIKs9ukPwsspp7C-6" vertex="1" connectable="0">
          <mxGeometry x="0.4892" relative="1" as="geometry">
            <mxPoint x="-65.43" y="40" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-47" value="1" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=#000000;labelBackgroundColor=#000000;fontColor=#FFFFFF;" parent="uHiuThIKs9ukPwsspp7C-6" vertex="1" connectable="0">
          <mxGeometry x="-0.7012" y="2" relative="1" as="geometry">
            <mxPoint x="-15" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-6" value="Partitioner" style="rounded=1;whiteSpace=wrap;html=1;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-480" y="300" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-13" style="edgeStyle=orthogonalEdgeStyle;rounded=0;orthogonalLoop=1;jettySize=auto;html=1;comic=0;labelBorderColor=none;exitX=1;exitY=0.25;exitDx=0;exitDy=0;entryX=0;entryY=0.5;entryDx=0;entryDy=0;" parent="1" source="v06ttbZFg-mQVMNtXIl2-7" target="uHiuThIKs9ukPwsspp7C-9" edge="1">
          <mxGeometry relative="1" as="geometry">
            <mxPoint x="-50" y="350" as="targetPoint" />
            <Array as="points">
              <mxPoint x="-260" y="415" />
              <mxPoint x="-260" y="430" />
            </Array>
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-15" value="Send Partition Instruction&lt;br&gt;To Workers" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;" parent="v06ttbZFg-mQVMNtXIl2-13" vertex="1" connectable="0">
          <mxGeometry x="-0.1704" y="-1" relative="1" as="geometry">
            <mxPoint x="31" y="4" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-48" value="2" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=#000000;labelBackgroundColor=#000000;fontColor=#FFFFFF;" parent="v06ttbZFg-mQVMNtXIl2-13" vertex="1" connectable="0">
          <mxGeometry x="-0.5068" y="1" relative="1" as="geometry">
            <mxPoint x="-20" y="-4" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-4" style="edgeStyle=orthogonalEdgeStyle;rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;labelBorderColor=none;" parent="1" source="v06ttbZFg-mQVMNtXIl2-7" target="uHiuThIKs9ukPwsspp7C-3" edge="1">
          <mxGeometry relative="1" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-16" style="edgeStyle=orthogonalEdgeStyle;rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=0;entryY=0.5;entryDx=0;entryDy=0;elbow=vertical;labelBorderColor=none;exitX=1;exitY=0.75;exitDx=0;exitDy=0;" parent="1" source="v06ttbZFg-mQVMNtXIl2-7" target="v06ttbZFg-mQVMNtXIl2-18" edge="1">
          <mxGeometry relative="1" as="geometry">
            <Array as="points">
              <mxPoint x="-260" y="445" />
              <mxPoint x="-260" y="540" />
            </Array>
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-17" value="Monitor Worker Status" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;" parent="uHiuThIKs9ukPwsspp7C-16" vertex="1" connectable="0">
          <mxGeometry x="-0.0277" y="5" relative="1" as="geometry">
            <mxPoint x="9.43" y="-15" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-54" value="5" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=#000000;fontColor=#FFFFFF;labelBackgroundColor=#000000;" parent="uHiuThIKs9ukPwsspp7C-16" vertex="1" connectable="0">
          <mxGeometry x="-0.6604" relative="1" as="geometry">
            <mxPoint x="-20" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-7" value="Partition Handler" style="rounded=1;whiteSpace=wrap;html=1;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-480" y="400" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-15" style="rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=0;entryY=0.5;entryDx=0;entryDy=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;endArrow=none;endFill=0;startArrow=none;startFill=0;fillColor=#dae8fc;strokeColor=#6c8ebf;labelBorderColor=none;strokeWidth=1;" parent="1" source="uHiuThIKs9ukPwsspp7C-9" target="v06ttbZFg-mQVMNtXIl2-2" edge="1">
          <mxGeometry relative="1" as="geometry">
            <mxPoint x="20" y="440" as="sourcePoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-34" value="consume message-1" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;rotation=322;" parent="v06ttbZFg-mQVMNtXIl2-15" vertex="1" connectable="0">
          <mxGeometry x="-0.6133" y="1" relative="1" as="geometry">
            <mxPoint x="26" y="-19" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-49" value="3" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=#000000;fontColor=#FFFFFF;labelBackgroundColor=#000000;" parent="v06ttbZFg-mQVMNtXIl2-15" vertex="1" connectable="0">
          <mxGeometry x="-0.0658" y="1" relative="1" as="geometry">
            <mxPoint x="20" y="-11" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-16" style="rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=0;entryY=0.5;entryDx=0;entryDy=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;endArrow=none;endFill=0;startArrow=none;startFill=0;fillColor=#d5e8d4;strokeColor=#82b366;labelBorderColor=none;" parent="1" source="uHiuThIKs9ukPwsspp7C-9" target="v06ttbZFg-mQVMNtXIl2-3" edge="1">
          <mxGeometry relative="1" as="geometry">
            <mxPoint x="20" y="440" as="sourcePoint" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-35" value="consume message-2" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;rotation=340;" parent="v06ttbZFg-mQVMNtXIl2-16" vertex="1" connectable="0">
          <mxGeometry x="-0.6072" y="-1" relative="1" as="geometry">
            <mxPoint x="15" y="-11" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-50" value="3" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=#000000;fontColor=#FFFFFF;labelBackgroundColor=#000000;" parent="v06ttbZFg-mQVMNtXIl2-16" vertex="1" connectable="0">
          <mxGeometry x="-0.0423" y="1" relative="1" as="geometry">
            <mxPoint x="16" y="-1" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-17" value="3" style="rounded=0;comic=0;orthogonalLoop=1;jettySize=auto;html=1;entryX=0;entryY=0.5;entryDx=0;entryDy=0;exitX=1;exitY=0.5;exitDx=0;exitDy=0;endArrow=none;endFill=0;startArrow=none;startFill=0;fillColor=#ffe6cc;strokeColor=#d79b00;labelBorderColor=#000000;fontColor=#FFFFFF;labelBackgroundColor=#000000;" parent="1" source="uHiuThIKs9ukPwsspp7C-9" target="v06ttbZFg-mQVMNtXIl2-4" edge="1">
          <mxGeometry x="0.0714" relative="1" as="geometry">
            <mxPoint x="20" y="440" as="sourcePoint" />
            <mxPoint as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-36" value="consume message-3" style="edgeLabel;html=1;align=center;verticalAlign=middle;resizable=0;points=[];labelBorderColor=none;rotation=0;" parent="v06ttbZFg-mQVMNtXIl2-17" vertex="1" connectable="0">
          <mxGeometry x="-0.6152" relative="1" as="geometry">
            <mxPoint x="16" as="offset" />
          </mxGeometry>
        </mxCell>
        <mxCell id="v06ttbZFg-mQVMNtXIl2-18" value="Job Repository" style="shape=cylinder;whiteSpace=wrap;html=1;boundedLbl=1;backgroundOutline=1;shadow=1;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-102.5" y="500" width="120" height="80" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-3" value="End Task" style="rounded=1;whiteSpace=wrap;html=1;shadow=1;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-480" y="500" width="120" height="60" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-5" value="Data Store" style="shape=cylinder;whiteSpace=wrap;html=1;boundedLbl=1;backgroundOutline=1;shadow=1;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-100" y="180" width="115" height="80" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-9" value="MQ" style="shape=step;perimeter=stepPerimeter;whiteSpace=wrap;html=1;fixedSize=1;shadow=1;labelPosition=center;verticalLabelPosition=bottom;align=center;verticalAlign=top;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-150" y="390" width="200" height="80" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-10" value="1-100" style="html=1;verticalLabelPosition=bottom;align=center;labelBackgroundColor=#ffffff;verticalAlign=top;strokeWidth=2;strokeColor=#0080F0;shadow=0;dashed=0;shape=mxgraph.ios7.icons.mail;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-120" y="410" width="40" height="30" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-11" value="101-200" style="html=1;verticalLabelPosition=bottom;align=center;labelBackgroundColor=#ffffff;verticalAlign=top;strokeWidth=2;strokeColor=#0080F0;shadow=0;dashed=0;shape=mxgraph.ios7.icons.mail;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-70" y="410" width="40" height="30" as="geometry" />
        </mxCell>
        <mxCell id="uHiuThIKs9ukPwsspp7C-12" value="201-300" style="html=1;verticalLabelPosition=bottom;align=center;labelBackgroundColor=#ffffff;verticalAlign=top;strokeWidth=2;strokeColor=#0080F0;shadow=0;dashed=0;shape=mxgraph.ios7.icons.mail;labelBorderColor=none;" parent="1" vertex="1">
          <mxGeometry x="-20" y="410" width="40" height="30" as="geometry" />
        </mxCell>
      </root>
    </mxGraphModel>
  </diagram>
</mxfile>
